plugins:
  - jekyll-remote-theme
  - jekyll-include-cache

remote_theme: ucsb-cs-course-repos/course-repo-jekyll-theme


name: "CS 16 Winter 2019 Kharitonova"
github_url: https://github.com/ucsb-cs16
baseurl: "/w19"
url: "https://ucsb-cs16.github.io/w19/"

instances:
  -
    instructor: Kharitonova
    site_url: "https://ucsb-cs16.github.io/w19/"
    github_org:
       name: ucsb-cs16
       url: https://github.com/ucsb-cs16/w19/
    piazza_url:  https://piazza.com/class/jqm50idtsek4wz
    gradescope_url: https://www.gradescope.com


start_week: 1
start_date: 2019-01-06 00:00:00.00-8:00
num_weeks: 10
extra_exam_week: true

instructor_url: https://ucsb-cs16.github.io/instructor

cal_dates: >
  [
  {"label":"First day of classes", "date":"2019-01-07" },
  {"label":"Univ Holiday", "date":"2019-01-21" },
  {"label":"Drop deadline (no W grade)","date":"2019-02-04" },
  {"label":"Univ Holiday", "date":"2019-02-18" },
  {"label":"W19 Instruction Ends", "date":"2019-03-15" },  
  {"label":"W19 Quarter Ends", "date":"2019-03-22" }          
  ]

future: false

course: "CS16"
qtr: "W19"
quarter: "Winter 2019"

kramdown:
  parse_block_html: false

exclude: ['vendor', 'setup.sh', 'jekyll.sh']
include:
  - _pages

timezone: America/Los_Angeles

collections:
  hwk:
    output: true
    permalink: /hwk/:path/
    last_before: false
  lab:
    output: true
    permalink: /lab/:path/
    last_before: false
  exam:
    output: true
    permalink: /exam/:path/
  info:
    output: true
    permalink: /info/:path/
  lectures:
    output: true
    permalink: /lectures/:path/
  bios:
    output: true
    permalink: /bios/:path

defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: default
  -
    scope:
      path: ""
      type: hwk
    values:
      layout: hwk
  -
    scope:
      path: ""
      type: lab
    values:
      layout: lab
  -
    scope:
      path: ""
      type: exam
    values:
      layout: exam_info
  -
    scope:
      path: ""
      type: info
    values:
      layout: info
  -
    scope:
      path: ""
      type: lectures
    values:
      layout: lecture
  -
    scope:
      path: "syllabus.md"
      type: info
    values:
      layout: handout
  -
    scope:
     path: ""
     type: bios
    values:
     layout: default #bio
