---
layout: null
---	    
/* hwk_header.css */

ol li table {
    border-collapse: collapse;
}


ol li ol li table {
    border-collapse: collapse;
}


ol li table * td {
    border: 1px solid black;
}

ol li ol li table * td {
    border: 1px solid black;
}

div.handwriting-table table {
    width: 100%;
}

div.handwriting-table table * td {
    height: 3em;
}

div.hwk-page-header {
    page-break-before:always;
    font-family: Arial Narrow,sans-serif;
    font-size: 18px; font-weight: bold; text-align:right;
    page-break-before:always; float:right;
    text-align:right;
    margin:0px; padding:0px;
    width:8em; margin-left: 1em;
}


div.hwk-page-header table {
    text-align:right; float:right; width:25%; text-align:right;
    margin:0px; padding:0px; border-width: 0px;
}

div.hwk-page-header table tr {
    margin:0px; padding:0px; line-height: 1.0;
}

div.hwk-page-header table tr td {
    margin:0px; padding:0px; line-height: 1.0; border-width:0px;
}

div.hwk-page-header * td.page-num {
    font-family: Arial, sans-serif;
    color:black; font-size: 800%; text-align: center;
}

div.hwk-page-header * td.asn-num {
    font-family: Arial Narrow, sans-serif; color:black; font-size: 500%; text-align:center; padding-left: 3px; padding-right: 3px;
}

div.hwk-page-header * td.course-qtr {
    font-family: Arial Narrow, sans-serif;  color:black; font-size: 150%; text-align:center; padding-left: 3px; padding-right: 3px;
}

table.hwk-header-table *  {
    border-collapse: collapse;
    font-family:Arial Narrow, sans-serif;
    font-size: 8pt;
}

.hwk-header-table {
    width: 75%;
}

.hwk-header-name {
    width:75%; text-align:left; border-bottom:none;
}

.hwk-header-subtext {
  text-align:left; font-style:italic; 
  vertical-align:bottom; 

  color:#333; border-top:none;
}

.hwk-header-umail-label {
   padding-right:300px; 
   border-right:none; 
   vertical-align:middle; 
   height:1.5em; 
   text-align:left;
}

.hwk-header-umail-entry {
   border-left: none;
   vertical-align:middle;
}

.hwk-header-section {

  line-height: 100%; 
  vertical-align: top; 
  padding-top: 1pt; 
  padding-left: 2pt; 
  padding-right: 2pt;
}


nav ul {
    list-style-type: none;
    margin: 2px 1em 2px 1em;
    padding: 2px 1em 2px 1em;
    
}

nav ul li {
    display: inline;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(249,249,249);
    border-bottom-color: rgb(221, 221, 221);
    line-height: 20.8px;
    margin: 2px 1em 2px 1em;
    padding: 2px 1em 2px 1em;

}

nav ul li a {
    color: black;
}

nav ul li a:visited {
    color: black;
}

nav ul li a:hover {
    background-color: rgb(51, 136, 204);
    color: white;
}

nav ul.hwk-nav-bar {
    margin-left: 2em;
    padding-left: 2em;
}
nav ul.hwk-nav-bar li {
    margin: 2px 4px 2px 0px;
    padding: 2px 4px 2px 4px;
}

ol li ol li {
   list-style-type: lower-alpha;
}

div.not-ready-warning {
   width:80%;
   margin-left:auto;
   margin-right:auto;
   padding:1em 1em 1em 1em;
   margin:1em 1em 1em 1em;		     
   border: 10px outset red;
   color: black;
   background-color: #ffc;
   text-align: left;
}

div.not-ready-warning h2, h3 {
 text-align:center;
}

table.asn_table tr.not-ready td.asn_ready {
  font-weight:bold;
  color: red;		
}

table.asn_table tr.ready td.asn_ready {
  color: green;		
}

td.h03-table table {
    border: 1px solid black;
    border-collapse: collapse;
}
td.h03-table table * td,th {
    border: 1px solid black;
    padding: 4px;
}



