<table class="exam-name-header-table exam-name-header-template" style="width:40%; margin-top: 0; padding-top: 0;">	   
  <tr>
    <th colspan="2" class="exam-header-name">Name:</th>
    <!-- 
	 <th rowspan="3" class="exam-header-section"> section<br>
	   <span class="exam-header-section-subtext">9am or 10:30am</span>
	 </th>
    -->
    
  </tr>
  <tr><th colspan="2" class="exam-header-subtext">(as it would appear on official course roster)</th></tr>
  <tr>
    <th class="exam-header-umail-label">  Umail address:</th>
    <th class="exam-header-umail-entry"> @umail.ucsb.edu</th>
  </tr>
</table>
