<!-- exam_instructions_li_elements.html  -->
<li> Write your name at the top of this page <strong>AND EVERY ODD NUMBERED PAGE.</strong>
</li>

<li>Double check that you turned in ALL pages; look for "End of Exam" on the last page.</li>

<li>
  This exam is <strong>closed book, closed
  notes</strong>, <strong>closed mouth, cell phone off.</strong>
</li>

<li >
  You are permitted <strong>one sheet of paper</strong> (max size 8.5x11&quot;) on which to write notes.
</li>
<li>This sheet will be collected with the exam, and might not be returned.</li>
<li> Please write your name on your notes sheet.</li>
