<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="{{site.baseurl}}/jquery-dateFormat.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
<link rel="stylesheet" href="{{site.baseurl}}/site.css" />
<link rel="stylesheet" href="{{site.baseurl}}/calendar.css" />
<script src="{{site.baseurl}}/site.js"></script>
<script>
  {% include moment.min.js %}
  {% include calendar.js %}
</script>
