<p>
<b>
Submit your homework as a pdf file through Gradescope before the due date listed above.
There is NO MAKEUP for missed assignments;
in place of that, we drop the {{site.hwk_drop_lowest}} lowest scores (if you have zeros, those are the {{ site.hwk_drop_lowest}} lowest scores.)<br />
</b>
For best results, <b>save this page as a pdf</b>, then print the pdf. Please write all your answers in the provided space. Homework submitted in a format different from the provided template will receive 0 points. 
Please mark your homework clearly, regardless of if you write it out digitally, or in ink or pencil! 
</p>
<hr />
