<table class="asn_table">

<tr>
  <th class="asn_desc" >lecture date</th>
  <th class="asn_num"  >notes</th>
  <th class="asn_ready">ready?</th>
  <th class="asn_desc" >description</th>
  <th class="asn_num" >slides before</th>
  <th class="asn_num" >slides after</th>
</tr>

{% for lect in site.lectures %}
 
<tr class={% if lect.ready %}"ready"{% else %}"not-ready"{% endif %} >
  <td class="lect_num" >{{lect.lecture_date}}</td>
  <td class="lect_num" ><a href="{{lect.url}}" data-ajax="false">{{ lect.num }}</a></td>
  <td class="lect_ready">{{lect.ready}}</td>
  <td class="lect_desc" >{{lect.desc }}</td>
  <td class={% if lect.ready %}"lect_num"  ><a href="{{lect.pdfurl}}" data-ajax="false">pdf</a>{% else %}"lect_num"  ><a href="" data-ajax="false"></a>{% endif %}</td>
  <td class={% if lect.annotatedready %}"lect_num"  ><a href="{{lect.annotatedpdfurl}}" data-ajax="false">Annotated pdf</a>{% else %}"lect_num"  ><a href="" data-ajax="false"></a>{% endif %}</td>

</tr>

{% if lect.last_before %}
<tr><th colspan="5">{{lect.last_before}}</th></tr>
{% endif %}

{% endfor %}
</table>
