<div data-role="header" class="header">

 <nav data-role="navbar">
  <ul>
    <li><a href="https://ucsb-cs16.github.io">UCSB {{site.course}}</a></li>
    <li data-theme="b"><a data-theme="b"  href="/">{{site.course}} {{site.qtr}} {{site.instances[0].instructor}}</a></li>
    <li data-theme="b"><a data-theme="b"  href="{{site.instances[0].github_org.url}}">Github</a></li>    
   <li data-theme="b"><a data-theme="b"  href="{{site.instances[0].gradescope_url}}">Gradescope</a></li>
   <li data-theme="b"><a data-theme="b"  href="{{site.instances[0].piazza_url}}">Piazza</a></li>       
  </ul>
 </nav>
 <nav data-role="navbar">
  <ul>
   <li><a href="https://gauchospace.ucsb.edu">Gauchospace</a></li>
   <li data-theme="c"><a data-theme="c" href="{{site.instances[1].site_url}}">{{site.course}} {{site.qtr}} {{site.instances[1].instructor}}</a></li>
   <li data-theme="c"><a data-theme="c"  href="{{site.instances[1].github_org.url}}">Github</a></li>
   <li data-theme="c"><a data-theme="c"  href="{{site.instances[1].gradescope_url}}">Gradescope</a></li>
   <li data-theme="c"><a data-theme="c"  href="{{site.instances[1].piazza_url}}">Piazza</a></li>       
  </ul>
 </nav>

{% if page.layout == "hwk" %}
 <nav data-role="navbar">
  <ul class="hwk-nav-bar">
  {% for asn in site.hwk %}
    <li><a href="{{asn.url}}">{{asn.num}}</a></li>
  {% endfor %}
  </ul>
 </nav>
{% endif %}

</div>
