<div data-role="header" class="header">
 <nav data-role="navbar" data-grid-"d">
  <ul>
    <li><a href="https://ucsb-cs16.github.io">UCSB {{site.course}} </a></li>
    <li><a href="/" class="ui-btn-active">{{site.course}} {{site.qtr}}</a></li>
     <li><a href="https://gradescope.com">Gradescope</a></li>
  </ul>
 </nav>
 <nav data-role="navbar" data-grid-"d">
  <ul>
   <li><a href="https://gauchospace.ucsb.edu">Gauchospace</a></li>
   <li><a href="https://piazza.com/configure-classes/spring2018/cs16s18">Piazza</a></li>
  </ul>
 </nav>
 {% if page.layout == "hwk" %}
 <nav data-role="navbar" data-grid-"d">
  <ul class="hwk-nav-bar">
  {% for asn in site.hwk %}
    <li><a href="{{asn.url}}">{{asn.num}}</a></li>
  {% endfor %}
  </ul>
 </nav>
{% endif %}
</div>
