<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <title>{{ page.num }} - {{ page.desc }} - {{course}}</title>
  </head>
    <body id="page-top">
      <div id="container" data-role="page">
      {% include nav.html %}
        <div id="content"  class="ui-content">
          <h1>{{page.num}} : {{page.desc}}</h1>
          <table class="asn_table">
            {% include exam_table_header_row.html %}
            {% assign asn = page %}
            {% include exam_table_row.html %}
          </table>
          {{ content }}
        </div><!-- content -->
        {% include footer.html %}
      </div><!-- container -->
  </body>
</html>
