<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head_exam.html %}
    <title>{{ page.num }} - {{ page.desc }} - {{course}}</title>
  </head>
  <body id="page-top">
    <div id="container" data-role="page">
      {% include nav.html %}
      {% if page.ready %}
      {% else %}
      {% include not_ready_warning.html %}
      {% endif %}     
      <div id="content"  class="ui-content">
        <div class="exam-header">
          <div class="exam-page-header exam-page-header-template">
	    {% include exam-handout-page-header-template.html %}
	  </div> <!-- exam-page-header -->
<div markdown="1" class="exam-name-header-table exam-name-header-template"></div>
	</div><!-- exam-header -->
<hr />	
        {{ content }}
	<div class="end-of-exam">End of Handout</div>
        </div><!-- content -->
        {% include footer.html %}
      </div><!-- container -->

      
    </body>
</html>
